/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* VARIABLES */

:root{
    /* --main-bg-color : #fff; */
    /* --main-text-color : #9597A5; */
    /* --main-font-size : 16px; */
    /* --main-font-weight : 400; */
    /* --main-line-height : 1.5; */
}

/* GENERAL */

*,
*::before,
*::after{
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}


html{
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img{
    display: block;
    height: auto;
}



/* barlow-regular - latin */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-600 - latin */
@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/barlow-v12-latin-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/barlow-v12-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fraunces-700 - latin */
@font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/fraunces-v23-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/fraunces-v23-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/fraunces-v23-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/fraunces-v23-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Barlow", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

/* VISUALLY-HIDDEN */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container{
    max-width: 1390px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 23px;
    padding-left: 23px;
}

/* STICKY-FOOTER */

.site-main{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


/* site header start */
.site-header {
    position: relative;
    background-color: #49BCF1;
    padding: 35px 0 26px 0;
}
.site-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.site-header__logo-img {
    width: 170px;
    height: 33px;
}
.site-header__inner {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
    height: 305px;
    margin-top: 26px;
    padding: 0 23px;
    margin-right: 8px;
    margin-left: 15px;
    background-color: #FFFCF8;
}

.sitenav--active{
    position: relative;
}
@media only screen and (max-width: 767px){
    
    .sitenav--active::before {
        content: "";
        border-top: 30px solid white;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        position: absolute;
        right: -38px;
        top: -15px;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
    }
}
.sitenav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding-top: 40px;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.sitenav-item{
    margin-bottom: 32px;
}
.sitenav-link {
    font-family: "Barlow";
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #808397;
}
.site-header__link {
    display: block;
    width: 140px;
    margin: 0 auto;
    padding: 15px 31px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #24303E;
    background-color: #FBD600;
    border-radius: 28px
}
.site-button{
    width: 16px;
    height: 15px;
    background-color: transparent;
    border: 0;
    background-image: url("../images/toggler-open.svg");
    background-size: 16px 15px;
    background-repeat: no-repeat;
}
.show-block{
    display: block;
}

/* site hero section start */
.hero {
    padding: 62px 0 350px 0; 
    background-image: url("../images/hero-bg.jpg");
    background-position: bottom  center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero__title {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 38px;
    line-height: 49px;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero__img{
    width: 30px;
    height: 107px;
    margin: 0 auto;
}
.hero__link .hero__img{
    -webkit-animation-name: hero__img;
            animation-name: hero__img;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    height: 150px;
}

@-webkit-keyframes hero__img {
    0%{
         -webkit-transform: translateY(-10px);
                 transform: translateY(-10px);
    }
    100%{
         -webkit-transform: translateY(40px);
                 transform: translateY(40px);
    }
    
}

@keyframes hero__img {
    0%{
         -webkit-transform: translateY(-10px);
                 transform: translateY(-10px);
    }
    100%{
         -webkit-transform: translateY(40px);
                 transform: translateY(40px);
    }
    
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                -webkit-min-device-pixel-ratio: 2),
only screen and (                -o-min-device-pixel-ratio: 2/1),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    
    .hero{
        background-image: url("../images/hero-bg@2x.jpg");
    }
    
}


@media only screen and (min-width: 768px) {
    .site-button{
        display: none;
    }
    .site-header__inner {
        position: static;
        display: block;
        height: auto;
        padding: 0;
        margin: 0;
        background-color: transparent;
    }    
    .sitenav-list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin: 0;
        padding-top: 0;
        padding-left: 0;
    }
    .sitenav-item{
        margin-bottom: 0;
    }
    .sitenav-item:not(:last-child){
        margin-right: 47px;
    }
    .sitenav-link {
        font-size: 18px;
        color: #FFFFFF;
    }
    .site-header__link {
        display: none;
    }
    .container{
        padding-right: 40px;
        padding-left: 40px;
    }
    .hero{
        padding: 79px 0 423px 0;
    }
    
}

@media only screen and (min-width: 1111px) {
    .site-header__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }    
    .sitenav-list {
        margin-right: 47px;
    }
    .sitenav-item{
        margin-bottom: 0;
    }
    .sitenav-item:not(:last-child){
        margin-right: 47px;
    }
    .sitenav-link {
        font-size: 18px;
        color: #FFFFFF;
    }
    .site-header__link {
        display: block;
        font-family: "Fraunces";
        font-style: normal;
        font-weight: 700;
        color: #24303E;
        background-color: #FFFFFF;
    }
    .site-header__link:hover {
        color: #FFFFFF;
        background-color: #ffffff40;
        
    }
    .container{
        padding-right: 40px;
        padding-left: 40px;
    }
}
@media only screen and (min-width: 578px) {
    .hero{
        padding-bottom: 470px;
    }
}

/* jobs sections start */
.jobs {
}
.jobs__list {
    list-style: none;
}
.jobs__item {
    position: relative;
    padding: 377px 0 64px 0;
}
.jobs__item:nth-child(3) {
    padding: 377px 24px 38px 24px;
    background-image: url("../images/cherry.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.jobs__item:nth-child(4) {
    padding: 377px 24px 38px 24px;
    background-image: url("../images/orange.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.jobs__item:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    display: block;
    width: 100%;
    height: 312px;
    background-image: url("../images/mobile-egg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.jobs__item:nth-child(2)::before{
    background-image: url("../images/glass.jpg");
    background-size: cover;
}
.jobs__item:nth-child(3)::before{
    display: none;
}
.jobs__item:nth-child(4)::before{
    display: none;
}
.jobs__item-inner{
    padding: 0 20px;
}
.jobs__title {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
    letter-spacing: -0.228571px;
    color: #24303E;
}
.jobs__desc {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
    letter-spacing: -0.128571px;
    color: #808397;
}
.jobs-title-color{
    color: #24554A;
    
}
.jobs__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #24303E;
}
.jobs__link:hover + .jobs__border {
    opacity: 1;
}
.jobs__border{
    position: absolute;
    z-index: -1;
    bottom: 64px;
    left: calc(50% - 71px);
    width: 137px;
    height: 10px;
    background-color: #FAD400;
    mix-blend-mode: normal;
    opacity: 0.25;
    border-radius: 28px;
}
.jobs__border--color{
    background-color: #FE7766;
}

@media only screen and (min-width: 768px) {
    .jobs__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        
    }
    .jobs__item{
        padding: 0;
    }
    .jobs__item:nth-child(1){
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        
    }
    .jobs__item-inner{
        width: 810px;
        padding: 158px 10px 157px 10px;
    }
    .jobs__item:before{
        position: static;
    }
    .jobs__item:nth-child(1){
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-width: 445px;
    }
    .jobs__item:nth-child(2){
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-width: 445px;
    }
    .jobs__item:before {
        width: 824px;
        height: 100%;
    }
    .jobs__item:nth-child(3){
        width: 50%;
        padding: 317px 0 59px 0;
    }
    .jobs__item:nth-child(4){
        width: 50%;
        padding: 317px 0 59px 0;
    }
    .jobs__item-wrapper{
        width: 339px;
        margin: 0 auto;
    }
    .jobs__title {
        text-align: start;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: -0.285714px;
    }
    .jobs__desc {
        text-align: start;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.128571px;
        
    }
    .jobs__item-wrapper .jobs__title{
        text-align: center;
    }
    .jobs__item-wrapper .jobs__desc{
        text-align: center;
        margin-bottom: 0;
    }
    .jobs__link{
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }
    .jobs__border{
        bottom: 157px;
        left: 0px;
    }
    .jobs__item:nth-child(2) .jobs__border{
        left: calc(50% + 5px);
    }
}


/* clients sections start */
.clients {
    padding-top: 64px;
    padding-bottom: 86px;
}
.clients__title {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 64px;
    letter-spacing: 5px;
    color: #A7AAAD;
}
.clients__item:not(:last-child) {
    margin-bottom: 64px;
}
.clients__item::before{
    content: "";
    display: block;
    width: 72px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 32px;
    background-image: url("../images/Emily.png");
    background-repeat: no-repeat;
    background-size: 72px 72px;
}
.clients__item:nth-child(2):before{
    background-image: url("../images/Thomas.png");
}
.clients__item:nth-child(3):before{
    background-image: url("../images/Jennie.png");
}
.clients__desc {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
    letter-spacing: -0.128571px;
    color: #5B636D;
}
.clients__item-title{
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 9px;
    letter-spacing: -0.128571px;
    color: #24303E;
}

.clients__text {
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    margin: 0;
    letter-spacing: -0.1px;
}


@media only screen and (min-width: 768px) {
    .clients {
        padding: 160px 0;
    }
    .clients__title {
        font-size: 20px;
        line-height: 25px;
    }
    .clients__list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .clients__item:not(:last-child){
        margin-bottom: 0;
        margin-right: 30px;
    }
    .clients__desc {
        margin-bottom: 69px;
    }
    .clients__item::before{
        margin-bottom: 58px;
    }
}

/* photo section start */
.photo {
    
}
.photo__wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.photo__img{
    width: 100%;
    height: 188px;
}

@media only screen and (min-width: 768px) {
    .photo__img{
        height: 260px;
    }
}

@media only screen and (min-width: 1111px) {
    .photo__wrapper {
        width: 100%;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(4,25%);
    }
    .photo__img{
        height: 447px;
    }
}

/* site footer start */
.site-footer {
    padding: 64px 0 80px 0;
    background-color: #90D4C6;
}
.site-footer__logo{
    display: block;
    width: 170px;
    height: 33px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.sitenav-list--active {
    padding-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 88px;
}
.sitenav-item--active {
    margin-right: 0;
    margin-bottom: 0;
}
.sitenav-item--active:nth-child(2) {
    margin-right: 57px;
    margin-left: 57px;
}
.sitenav-link-color {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;
}
.sitenav-link-color:hover {
    color: #FFFFFF;
}
.site-footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.site-footer__item:not(:last-child) {
    margin-right: 28px;
}
.site-footer__link {
}
.site-footer__img {
    fill: #458D7E;
}
.site-footer__img:hover {
    fill: #fff;
}
@media only screen and (min-width: 768px){
    .site-footer {
        padding: 72px 0 64px 0;
    }
    
    .sitenav-item--active:nth-child(1) {
        margin-right: 0;
    }
    .sitenav-item--active:nth-child(2) {
        margin-right: 57px;
        margin-left: 57px;
    }
}